/* Styles drag card  */

.dragCard__container {
    min-height: 75px;
    padding: 0 18px 0 32px;
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.dragCard__content{
    margin-left: 31px;
    margin-right: 10px;
    cursor: pointer;
    width: 100%;
}

.dragCard__end{
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
}


/* ANNOUNCEMENT CARD STYLES */
.announcement__container.show{
    border: 3px solid #E6E5F8;
    box-shadow: 0 8px 10px 0 rgba(52,51,101,0.15);
}

.announcement__title {
    color: #343365;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: -0.14px;
    line-height: 22px;
    margin-top: 29px;
}

.announcement__body{
    margin-bottom: 30px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0,1,0,1);
}

.announcement__body.show{
    height: auto;
    max-height: 100vh;
    transition: all 0.3s cubic-bezier(1,0,1,0);
}

.announcement__body p {
    color: #8280B1;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 22px;
  
}

.announcement__footer{
    display: flex;
    align-items: center;
}

.drag__indicator{
    margin-top: 29px;
}

.announcement__end__card{
    background-color: #B7B5E7;
    width: 38.26px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: -0.14px;
    line-height: 22px;
}


/* NEW TEMPLATE CARD STYLES */

.newTemplate__card__title {
    font-size: 13px;
}

.dragCard__content__template{
    margin: 18px 10px 15px 31px;
    width: 100%;
}
