

@font-face {
  font-family: "Baloo-Tammudu-2";
  src: local("BalooTammudu2-Regular"),
    url("./fonts/BalooTammudu2-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Ageo";
  src: local("Ageo"),
    url("./fonts/Ageo.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Feather-Icons";
  src: local("Feather-Icons"),
    url("./fonts/Feather-Icons.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Iconly-Icon";
  src: local("Iconly-Bold"),
    url("./fonts/Iconly-Bold.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
